.currentUserPage{
    justify-items: center;
    text-align: center;
    display: grid;
    grid-auto-columns: auto;
    grid-gap: 2%;
    align-items: initial;
  }
  .currentUser-img{
    border-radius: 50%;
    height: 30vh;
  }
  .name{
    font-size: 35px;;
  }
  .skill{
    text-align: center;
  }