*{
  font-family: ‘Montserrat’, sans-serif;
}
.currentUserPage{
    justify-items: center;
    text-align: center;
    display: grid;
    grid-auto-columns: auto;
    /* grid-gap: 2%; */
    align-items: initial;
    font-size: 23px
  }
  
  .header{
    background: linear-gradient(145deg,#0d47a1,#42a5f5);
    width: 100%;
    grid-gap: 15px;
    justify-items: center;
    text-align: center;
    display: grid;
  }

.currentUser-img{
    border-radius: 50%;
    height: 30vh;
    padding: 8px;
  }
  .name{
    font-size: 35px;;
  }
  .skill{
    text-align: center;
  }
  .logout-button{
    background: #95afc0;
    color: #fff;
    font-size: 19px;
    border: 0;
    padding: 12px 0;
    width: 73%;
    border-radius: 5px;
    padding: 15px;
    margin: 51px;
  }
  .line{
    width:45%;
  }
  .CU-skills{
    font-weight: bold;
    font-size: 20px;
    padding: 15px;


  }