.swipeUser-info {
    display: grid;
    justify-content: center;
  }
  .text-user {
    text-align: center;
    padding: 22px;
}
.reviews{
    display: grid;
    grid-template-columns: 70px 1fr;
    padding-left: 20px;
    }
  .review-text{
    text-align: left;
  
  }
  .swiping-buttons{
    display: grid;
    grid-template-columns: 20px 20px;
    margin-left: 25%;
    grid-gap: 23vw;
    font-size: 25px;
    color:white;

  }
  h3{
    color: black;
  }

  .button-badge{
    border-radius: 50%;
    padding: 20px;
    width: 30px;
    height: 30px;
    justify-content: center;
    display: grid;
    align-items: center;
    background-color: aquamarine;
}
.button-icon{
  text-align: center
}