.swipeUser-info {
    display: grid;
    justify-content: center;
  }
  .text-user {
    text-align: center;
    padding: 22px;
}
.reviews{
    display: grid;
    grid-template-columns: .5fr 1fr;
  }
  .review-text{
    text-align: left;
  
  }
  .swiping-buttons{
    display: grid;
    grid-template-columns: 20px 20px;
    justify-content: center;
    grid-gap: 38px;
    font-size: 34px;
    padding: 10px;

  }
  h3{
    color: black;
  }
/* 
  .likeButton{
    float: right;
    color: red
  
  } */